*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/.vs
/ipch
/Win32
/x64
/packages
/MyWpfCommon/bin
/MyWpfCommon/obj
/ModernUIApp1/bin
/ModernUIApp1/obj
